USE [AccountOMS]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PropertyNumberRegister]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--функция возвращает 1 если присутствует данный номер реестр СП и ТК и небыл принят счет с данным номером на это лпу
--если возвращаемое значение отлично от 1 значит ошибка.
CREATE FUNCTION [dbo].[fn_PropertyNumberRegister](@account varchar(15))
RETURNS int
as
begin
declare @i int
		select @i=cast(case when IsNumeric(rtrim(left(right(@account,len(@account)-charindex('-',@account,charindex('-',@account)+1)),2)))=1 
						then rtrim(left(right(@account,len(@account)-charindex('-',@account,charindex('-',@account)+1)),2))
						else left(rtrim(left(right(@account,len(@account)-charindex('-',@account,charindex('-',@account)+1)),2)),1) end as int)
RETURN(@i)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PrefixNumberRegister]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--функция возвращает 1 если присутствует данный номер реестр СП и ТК и небыл принят счет с данным номером на это лпу
--если возвращаемое значение отлично от 1 значит ошибка.
CREATE FUNCTION [dbo].[fn_PrefixNumberRegister](@account varchar(15))
RETURNS int
as
begin
declare @i int
		select @i=cast(replace(rtrim(left(left(@account,charindex('-',@account)),5)),'-','') as int)
RETURN(@i)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_NumberRegister]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--функция возвращает 1 если присутствует данный номер реестр СП и ТК и небыл принят счет с данным номером на это лпу
--если возвращаемое значение отлично от 1 значит ошибка.
CREATE FUNCTION [dbo].[fn_NumberRegister](@account varchar(15))
RETURNS int
as
begin
declare @i int
		select @i=cast(rtrim(left(substring(@account,charindex('-',@account)+1,charindex('-',@account,charindex('-',@account)+1)-charindex('-',@account)-1),6)) as int)
RETURN(@i)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MonthName]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_MonthName](@year smallint, @month tinyint)
RETURNS nvarchar(30)
as
begin
declare @i nvarchar(30),
		@d char(10)=CAST(@year as CHAR(4))+right('0'+CAST(@month as varchar(2)),2)+'01'
		
		select @i=DATENAME(MONTH,@d)+' '+CAST(@year as CHAR(4))+' г.'
RETURN(@i)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LetterNumberRegister]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--функция возвращает 1 если присутствует данный номер реестр СП и ТК и небыл принят счет с данным номером на это лпу
--если возвращаемое значение отлично от 1 значит ошибка.
CREATE FUNCTION [dbo].[fn_LetterNumberRegister](@account varchar(15))
RETURNS char(1)
as
begin
declare @i char(1)
		select @i=case when IsNumeric(rtrim(left(right(@account,len(@account)-charindex('-',@account,charindex('-',@account)+1)),2)))=0 
						then right(rtrim(left(right(@account,len(@account)-charindex('-',@account,charindex('-',@account)+1)),2)),1)
						else null end 
RETURN(@i)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FullYear]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_FullYear] (@DateBeg date,@DateEnd date)
RETURNS int
as
begin
	declare @FullYear int
	select @FullYear=DATEDIFF(YEAR,@DateBeg,@DateEnd)-CASE WHEN 100*MONTH(@DateBeg)+DAY(@DateBeg)>100*MONTH(@DateEnd)+DAY(@DateEnd) THEN 1 ELSE 0 END;
	return (@FullYear)
end
GO
/****** Object:  SqlAssembly [Function]    Script Date: 12/01/2011 09:40:22 ******/
CREATE ASSEMBLY [Function]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300821FD64E0000000000000000E00002210B010800000A000000060000000000008E280000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000402800004B000000004000008003000000000000000000000000000000000000006000000C000000B82700001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000009408000000200000000A000000020000000000000000000000000000200000602E72737263000000800300000040000000040000000C0000000000000000000000000000400000402E72656C6F6300000C000000006000000002000000100000000000000000000000000000400000420000000000000000000000000000000070280000000000004800000002000500F8200000C006000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001330040091000000010000110002178D1200000113051105161F2C9D11056F0F00000A0A7201000070281000000A731100000A0C000613061613072B40110611079A0D00720B000070281000000A7213000070281000000A09281200000A8C17000001731300000A731400000A0B08076F1500000A0000110717581307110711068E69FE04130811082DB2086F1600000A731700000A13042B0011042A1E02281800000A2A00000042534A4201000100000000000C00000076322E302E35303732370000000005006C0000004C020000237E0000B8020000FC02000023537472696E677300000000B40500001C00000023555300D0050000100000002347554944000000E0050000E000000023426C6F620000000000000002000001471502000900000000FA2533001600000100000019000000020000000200000001000000180000000C00000001000000010000000300000000000A0001000000000006003C0035000A0064004F000600970085000600AE0085000600CB0085000600EA00850006000301850006001C01850006003701850006005201850006008A016B0106009E0185000600CA01B7013700DE01000006000D02ED0106002D02ED010A006F0254020600840235000600890235000E00A60296020E00B80296020600C10235000600D10235000E00D70296020E00E20296020000000001000000000001000100010010001700000005000100010050200000000096006E000A000100ED200000000086187D001000020000000100830019007D00140021007D00140029007D00140031007D00140039007D00140041007D00140049007D00140051007D00140059007D00190061007D00140069007D001E0079007D00240081007D00100089007D001000990090022E00A100AC023500A9007D003B00B100C9024100C1007D004600A9007D004600C900ED024D000900F102520011007D00140009007D0010002000730029002E002B0068002E00130076002E001B0076002E0023007C002E000B0068002E0033008B002E003B0076002E004B0076002E005B00AC002E006300B5002E006B00BE0056000480000001000000FF10E1720000000000004B02000002000000000000000000000001002C0000000000020000000000000000000000010043000000000003000500000000000000000001009602000000000000003C4D6F64756C653E0046756E6374696F6E2E646C6C0055736572446566696E656446756E6374696F6E73006D73636F726C69620053797374656D004F626A6563740053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C537472696E6700666E5F53706C69744E756D626572002E63746F7200730053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650046756E6374696F6E004D6963726F736F66742E53716C5365727665722E5365727665720053716C46756E6374696F6E417474726962757465004368617200537472696E670053706C69740053797374656D2E586D6C2E4C696E7100584E616D65006F705F496D706C696369740058456C656D656E7400436F6E7665727400546F496E74333200496E74333200584174747269627574650058436F6E7461696E65720041646400546F537472696E67000000000952006F006F00740000074E0075006D0000076E0075006D0000005F448874337D5E47978E1DD51ABA603D0008B77A5C561934E08905000111090E03200001042001010E0420010102052001011139042001010804010000000620011D0E1D0305000112510E052001011251040001080E0620020112511C042001011C0320000E1107091D0E125512550E11091D031D0E08020D01000846756E6374696F6E00000501000000000E0100094D6963726F736F667400002001001B436F7079726967687420C2A9204D6963726F736F6674203230313100000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100000000000000821FD64E000000000200000069000000D4270000D4090000525344535B66666AA2B9EA4E90756A18E718A40654000000653A5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4163636F756E745C46756E6374696F6E5C6F626A5C44656275675C46756E6374696F6E2E706462000000006828000000000000000000007E280000002000000000000000000000000000000000000000000000702800000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000280300000000000000000000280334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE0000010000000100E172FF1000000100E172FF103F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00488020000010053007400720069006E006700460069006C00650049006E0066006F00000064020000010030003000300030003000340062003000000034000A00010043006F006D00700061006E0079004E0061006D006500000000004D006900630072006F0073006F006600740000003C0009000100460069006C0065004400650073006300720069007000740069006F006E0000000000460075006E006300740069006F006E000000000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0034003300350031002E0032003900340030003900000000003C000D00010049006E007400650072006E0061006C004E0061006D0065000000460075006E006300740069006F006E002E0064006C006C00000000005C001B0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004D006900630072006F0073006F0066007400200032003000310031000000000044000D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000460075006E006300740069006F006E002E0064006C006C0000000000340009000100500072006F0064007500630074004E0061006D00650000000000460075006E006300740069006F006E000000000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0034003300350031002E00320039003400300039000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0034003300350031002E0032003900340030003900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000903800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [Function]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A4453000000000200000100000017000000BC0100000000000016000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000280486FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF90F9F9FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000C00FFFF0400000003800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A79910000000000000009AAA48AB61DEEDFC32379E2C996F0B9EFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF2800000015000000030000000600000013000000090000000A000000050000000B0000000C0000000D0000000E000000100000000F00000007000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A79910000000000000009AAA48AB61DEEDFC32379E2C996F0B9EFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF28000000150000000300000006000000130000000900000008000000040000000B0000000C0000000D0000000E000000100000000F00000007000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000091000000000000009100000000000000000000000000000000000000000000002C0200002C00000038000000FFFFFFFF28000000140000000300000006000000100000000900000008000000040000000B0000000C0000000D0000000F0000000E00000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE2300180000000139E5C6C5AAFCC0154000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000004B000000280000001BE23001DBD8AD9358000000010000004A0000004B000000650000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000009400000000653A5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4163636F756E745C46756E6374696F6E5C53706C69744E756D6265722E63730000653A5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6163636F756E745C66756E6374696F6E5C73706C69746E756D6265722E63730004000000010000004A0000004B0000000000000003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001800000009605953C5AAFCC0153000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000004B000000280000001BE23001DBD8AD9358000000010000004A0000004B0000006500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000036002A1100000000400200000000000091000000000000000000000001000006000000000100000000666E5F53706C69744E756D6265720016000311040000000C0200009100000000000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E53657276657200160024115553797374656D2E586D6C2E4C696E71000000001E002011040000000100001100000000000004004353243124303030300000001E002011050000000100001100000000000004004353243024303030310000001E002011060000000100001100000000000004004353243624303030320000001E002011070000000100001100000000000004004353243724303030330000001E002011080000000100001100000000000004004353243424303030340000001E00201100000000010000110000000000000000737472696E674172726179001600201101000000010000110000000000000000656C31001A00201102000000010000110000000000000000656C656D656E7400160003113C0000000802000056000000290000000100000016002011030000000100001100000000000000007331000002000600020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C0000000100060002000600F2000000D80000000000000001000100910000000000000010000000CC000000000000000D000080010000000E0000801800000011000080280000001200008029000000120000802C000000EEEFFE8031000000120000803700000013000080380000001400008062000000150000806A000000160000806B000000EEEFFE8071000000120000807B000000EEEFFE807F000000170000808E000000180000800500060009002D0009002800090010001F002A000000000012001B0009000A000D0053000D001E0009000A00000000001C001E00000000000900320005000600F4000000080000000100000000000000080000000000000020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1100000000C02000021000000010000000100000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000000000C0000000100303630303030303100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E00251100000000040000000100666E5F53706C69744E756D6265720000000016002911000000000400000001003036303030303031000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1000000000000000001003036303030303031000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000B8010000CE00000038000000FFFFFFFF00000000B80000008000000058000000040000000300000006000000090000000A00000005000000626C6F636B002F7372632F66696C65732F653A5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6163636F756E745C66756E6374696F6E5C73706C69746E756D6265722E6373000400000006000000010000001E00000000000000110000000600000022000000070000000A000000050000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000018000000CE000000380000007301000000000000B8000000800000005800000028000000840100002C0200002C0000003400000003000000110000000600000010000000090000000A00000007000000080000000B0000000C0000000D0000000F0000000E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101540000000900008A0A006F760B00010060000000200000002C00000058000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF00000000000000000000000008004402000000000000F000000001000000109DDE0B000000000000000055736572446566696E656446756E6374696F6E730037314141414545380000002DBA2EF101000000000000009100000000000000000000000000000000000000020002000D01000000000100FFFFFFFF00000000910000000802000000000000FFFFFFFF00000000FFFFFFFF010001000000010000000000653A5C446F63756D656E74735C56697375616C2053747564696F20323031305C50726F6A656374735C4163636F756E745C46756E6374696F6E5C53706C69744E756D6265722E637300000000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF5F00FFFFFFFFFFFFFFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E3101BABCD14E540000005B66666AA2B9EA4E90756A18E718A406760000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F653A5C646F63756D656E74735C76697375616C2073747564696F20323031305C70726F6A656374735C6163636F756E745C66756E6374696F6E5C73706C69746E756D6265722E6373000400000006000000010000001E00000000000000110000000600000022000000070000000A00000005000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000003C000000CE000000380000007301000000000000B80000008000000058000000400300002C0200002C00000038000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF28000000110000001400000006000000130000000900000008000000040000000B0000000C0000000D0000000E000000100000000F0000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'bin\Debug\Function.pdb'
GO
ALTER ASSEMBLY [Function]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C65282246756E6374696F6E22295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E7928224D6963726F736F667422295D0D0A5B617373656D626C793A20417373656D626C7950726F64756374282246756E6374696F6E22295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A9204D6963726F736F6674203230313122295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [Function]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E446174613B0D0A7573696E672053797374656D2E446174612E53716C436C69656E743B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A7573696E672053797374656D2E586D6C2E4C696E713B0D0A0D0A0D0A7075626C6963207061727469616C20636C6173732055736572446566696E656446756E6374696F6E730D0A7B0D0A202020205B4D6963726F736F66742E53716C5365727665722E5365727665722E53716C46756E6374696F6E5D0D0A202020207075626C6963207374617469632053716C537472696E6720666E5F53706C69744E756D62657228737472696E672073290D0A202020207B0D0A2020202020202020737472696E675B5D20737472696E674172726179203D20732E53706C697428272C27293B0D0A202020202020202058456C656D656E7420656C313B0D0A202020202020202058456C656D656E7420656C656D656E743B0D0A2020202020202020656C656D656E74203D206E65772058456C656D656E742822526F6F7422293B0D0A2020202020202020666F72656163682028737472696E6720733120696E20737472696E674172726179290D0A20202020202020207B0D0A202020202020202020202020656C31203D206E65772058456C656D656E7428224E756D222C206E6577205841747472696275746528226E756D222C20436F6E766572742E546F496E7433322873312929293B0D0A202020202020202020202020656C656D656E742E41646428656C31293B0D0A20202020202020207D0D0A202020202020202072657475726E206E65772053716C537472696E6728656C656D656E742E546F537472696E672829293B0D0A202020207D0D0A7D3B0D0A0D0A
AS N'SplitNumber.cs'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'e:\Documents\Visual Studio 2010\Projects\Account\Function' , @level0type=N'ASSEMBLY',@level0name=N'Function'
GO
/****** Object:  Table [dbo].[t_FileError]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_FileError](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](26) NOT NULL,
	[DateCreate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_FileDelete]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_FileDelete](
	[rf_idFile] [int] NOT NULL,
	[FileName] [varchar](26) NOT NULL,
	[DateDelete] [datetime] NOT NULL,
	[UserName] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_FileTested]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_FileTested](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateRegistration] [datetime] NOT NULL,
	[FileName] [varchar](50) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[ErrorDescription] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_ErrorNumber]    Script Date: 12/01/2011 09:40:23 ******/
CREATE TYPE [dbo].[TVP_ErrorNumber] AS TABLE(
	[id] [int] NULL
)
GO
/****** Object:  View [dbo].[vw_sprT001]    Script Date: 12/01/2011 09:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_sprT001]
as
select * from oms_nsi.dbo.vw_sprT001
GO
/****** Object:  View [dbo].[vw_sprSMO]    Script Date: 12/01/2011 09:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_sprSMO]
as
select smocod,sNameF,sNameS
from oms_nsi.dbo.tSMO where smocod is not null
union
select '34','ГОСУДАРСТВЕННОЕ УЧРЕЖДЕНИЕ "ТЕРРИТОРИАЛЬНЫЙ ФОНД ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ ВОЛГОГРАДСКОЙ ОБЛАСТИ"' as sNameF,
		'ТФОМС Волгоградской области' as sNameS
GO
/****** Object:  View [dbo].[vw_sprMUCompletedCase]    Script Date: 12/01/2011 09:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_sprMUCompletedCase]
as
select cast(MUGroupCode as varchar(2))+'.'+cast(MUUnGroupCode as varchar(2))+'.'+cast(MUCode as varchar(3)) as MU,AdultUET,ChildUET,unitCode,unitName,
		Profile,AgeGroupShortName,cast(MUGroupCodeP as varchar(2))+'.'+cast(MUUnGroupCodeP as varchar(2))+'.'+cast(MUCodeP as varchar(3)) as MU_P,
		MUGroupCode,MUUnGroupCode,MUCode,MUGroupCodeP,MUUnGroupCodeP,MUCodeP
from oms_NSI.dbo.vw_sprMUAll
where MUGroupCodeP is not null
GO
/****** Object:  StoredProcedure [dbo].[usp_GetsprT001]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetsprT001]
				@CodeM varchar(6)
as 
select COUNT(*)
from oms_nsi.dbo.vw_sprT001
where CodeM=@CodeM
GO
/****** Object:  View [dbo].[vw_sprMU]    Script Date: 12/01/2011 09:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_sprMU]
as
select cast(MUGroupCode as varchar(2))+'.'+cast(MUUnGroupCode as varchar(2))+'.'+cast(MUCode as varchar(3)) as MU,AdultUET,ChildUET,unitCode,unitName,
		MUGroupCode,MUUnGroupCode,MUCode
from oms_NSI.dbo.vw_sprMUAll
where MUGroupCodeP is null
GO
/****** Object:  Table [dbo].[t_File]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_File](
	[GUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateRegistration] [datetime] NOT NULL,
	[FileVersion] [char](5) NOT NULL,
	[DateCreate] [date] NOT NULL,
	[FileNameHR] [varchar](26) NOT NULL,
	[FileNameLR] [varchar](26) NOT NULL,
	[FileZIP] [varbinary](max) FILESTREAM  NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY] FILESTREAM_ON [FileStreamGroup],
UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [FileStreamGroup]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Errors]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Errors](
	[ErrorNumber] [smallint] NOT NULL,
	[rf_idFileError] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SplitNumber]    Script Date: 12/01/2011 09:40:22 ******/
CREATE FUNCTION [dbo].[fn_SplitNumber](@s [nvarchar](4000))
RETURNS [nvarchar](4000) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Function].[UserDefinedFunctions].[fn_SplitNumber]
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'SplitNumber.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'fn_SplitNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=N'13' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'fn_SplitNumber'
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMEKRegisterCaseDB]    Script Date: 12/01/2011 09:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMEKRegisterCaseDB](@rf_idCase bigint)
RETURNS decimal(15,2)
as
begin
declare @d decimal(15,2)
		select @d=Amount from RegisterCases.dbo.t_FinancialSanctions d where d.TypeSanction=1 and d.rf_idCase=@rf_idCase
	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMEERegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMEERegisterCaseDB](@rf_idCase bigint)
RETURNS decimal(15,2)
as
begin
declare @d decimal(15,2)
		select @d=Amount from RegisterCases.dbo.t_FinancialSanctions d where d.TypeSanction=2 and d.rf_idCase=@rf_idCase
	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMeduslugiFromRegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMeduslugiFromRegisterCaseDB](@account varchar(15),@rf_idF003 char(6),@month tinyint,@year smallint)
RETURNS @meduslugi TABLE(
							GUID_Case uniqueidentifier NOT NULL,
							id int NOT NULL,
							GUID_MU uniqueidentifier NOT NULL,
							rf_idMO char(6) NOT NULL,
							rf_idV002 smallint NOT NULL,
							IsChildTariff bit NOT NULL,
							DateHelpBegin date NOT NULL,
							DateHelpEnd date NOT NULL,
							DiagnosisCode char(10) NOT NULL,
							MUCode varchar(16) NOT NULL,
							Quantity decimal(6, 2) NOT NULL,
							Price decimal(15, 2) NOT NULL,
							TotalPrice decimal(15, 2) NOT NULL,
							rf_idV004 int NOT NULL
						)
as
begin
		declare @number int,
				@property tinyint,
				@smo char(5)
				
		select @number=dbo.fn_NumberRegister(@account),@smo=dbo.fn_PrefixNumberRegister(@account),@property=dbo.fn_PropertyNumberRegister(@account)
		
		insert @meduslugi
		select c.GUID_Case,m.id,m.GUID_MU,m.rf_idMO,m.rf_idV002,m.IsChildTariff,m.DateHelpBegin,m.DateHelpEnd,m.DiagnosisCode,
		m.MUCode,m.Quantity,m.Price,m.TotalPrice,m.rf_idV004
		from RegisterCases.dbo.t_RegisterCaseBack reg inner join RegisterCases.dbo.t_RecordCaseBack rec on
						reg.id=rec.rf_idRegisterCaseBack and
						reg.ref_idF003=@rf_idF003 and
						reg.ReportMonth=@month and
						reg.ReportYear=@year and
						reg.NumberRegister=@number and
						reg.PropertyNumberRegister=@property
									inner join RegisterCases.dbo.t_PatientBack p on
						rec.id=p.rf_idRecordCaseBack 
						and	p.rf_idSMO=@smo
									inner join RegisterCases.dbo.t_CaseBack cb on
						rec.id=cb.rf_idRecordCaseBack and
						cb.TypePay=1
									inner join RegisterCases.dbo.t_Case c on
						rec.rf_idCase=c.id
									inner join RegisterCases.dbo.t_Meduslugi m on
						c.id=m.rf_idCase
									left join RegisterCases.dbo.t_Mes mes on
						c.id=mes.rf_idCase
		where mes.rf_idCase is null
RETURN
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetEKMPRegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetEKMPRegisterCaseDB](@rf_idCase bigint)
RETURNS decimal(15,2)
as
begin
declare @d decimal(15,2)
		select @d=Amount from RegisterCases.dbo.t_FinancialSanctions d where d.TypeSanction=3 and d.rf_idCase=@rf_idCase
	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDS2RegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetDS2RegisterCaseDB](@rf_idCase bigint)
RETURNS varchar(10)
as
begin
declare @d varchar(10)
		select @d=DiagnosisCode	from RegisterCases.dbo.t_Diagnosis d where d.TypeDiagnosis=3 and d.rf_idCase=@rf_idCase
	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDS1RegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetDS1RegisterCaseDB](@rf_idCase bigint)
RETURNS varchar(10)
as
begin
declare @d varchar(10)
		select @d=DiagnosisCode	from RegisterCases.dbo.t_Diagnosis d where d.TypeDiagnosis=1 and d.rf_idCase=@rf_idCase	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDS0RegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetDS0RegisterCaseDB](@rf_idCase bigint)
RETURNS varchar(10)
as
begin
declare @d varchar(10)
		select @d=DiagnosisCode	from RegisterCases.dbo.t_Diagnosis d where d.TypeDiagnosis=2 and d.rf_idCase=@rf_idCase
	
RETURN(@d)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDiagnosisRegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetDiagnosisRegisterCaseDB](@rf_idCase bigint)
RETURNS @DS TABLE (
					rf_idCase bigint, 
					DS0 varchar(6),
					DS1 varchar(6),
					DS2 varchar(6)
				  )
as
begin
		--declare @t as table(rf_idCase bigint, DS0 varchar(6),DS1 varchar(6),DS2 varchar(6))

		insert @DS(rf_idCase,DS1)
		select rf_idCase,DiagnosisCode
		from RegisterCases.dbo.t_Diagnosis
		where TypeDiagnosis=1 and rf_idCase=@rf_idCase

		update @DS
		set DS0=DiagnosisCode
		from @DS t inner join RegisterCases.dbo.t_Diagnosis d on
				t.rf_idCase=d.rf_idCase and
				d.TypeDiagnosis=2
				and d.rf_idCase=@rf_idCase
		update @DS
		set DS2=DiagnosisCode
		from @DS t inner join RegisterCases.dbo.t_Diagnosis d on
				t.rf_idCase=d.rf_idCase and
				d.TypeDiagnosis=3
				and d.rf_idCase=@rf_idCase
RETURN;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCaseFromRegisterCaseDB]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCaseFromRegisterCaseDB](@account varchar(15),@rf_idF003 char(6),@month tinyint,@year smallint)
RETURNS @case TABLE(
					ID_Patient varchar(36) NOT NULL,
					idRecordCase int NOT NULL,
					GUID_Case uniqueidentifier NOT NULL,
					rf_idV006 tinyint NULL,
					rf_idV008 smallint NULL,
					rf_idDirectMO char(6) NULL,
					HopitalisationType tinyint NULL,
					rf_idMO char(6) NOT NULL,
					rf_idV002 smallint NOT NULL,
					IsChildTariff bit NOT NULL,
					NumberHistoryCase nvarchar(50) NOT NULL,
					DateBegin date NOT NULL,
					DateEnd date NOT NULL,
					DS0 char(10) NULL,
					DS1 char(10) NULL,
					DS2 char(10) NULL,
					MES char(16) NULL,
					rf_idV009 smallint NOT NULL,
					rf_idV012 smallint NOT NULL,
					rf_idV004 int NOT NULL,
					IsSpecialCase tinyint NULL,
					rf_idV010 tinyint NOT NULL,
					Quantity decimal(5, 2) NULL,
					Tariff decimal(15, 2) NULL,
					AmountPayment decimal(15, 2) NOT NULL,
					SANK_MEK decimal(15, 2) NULL,
					SANK_MEE decimal(15, 2) NULL,
					SANK_EKMP decimal(15, 2) NULL
				)
as
begin
declare @number int,
		@property tinyint,
		@smo char(5)
		
select @number=dbo.fn_NumberRegister(@account),@smo=dbo.fn_PrefixNumberRegister(@account),@property=dbo.fn_PropertyNumberRegister(@account)
--select @number=SUBSTRING(@account,7,1),@property=SUBSTRING(@account,9,1),@smo=LEFT(@account,5)

insert @case
select distinct rc.ID_Patient,c.idRecordCase,c.GUID_Case,c.rf_idV006,c.rf_idV008,rf_idDirectMO,c.HopitalisationType,
		c.rf_idMO,c.rf_idV002,c.IsChildTariff,c.NumberHistoryCase,c.DateBegin,c.DateEnd,
		dbo.fn_GetDS0RegisterCaseDB(c.id),dbo.fn_GetDS1RegisterCaseDB(c.id),dbo.fn_GetDS2RegisterCaseDB(c.id),
		mes.MES,c.rf_idV009,c.rf_idV012,c.rf_idV004,c.IsSpecialCase,c.rf_idV010,mes.Quantity,mes.Tariff,
		c.AmountPayment,dbo.fn_GetMEKRegisterCaseDB(c.id) as SANK_MEK,dbo.fn_GetMEERegisterCaseDB(c.id) as SANK_MEE,		
		dbo.fn_GetEKMPRegisterCaseDB(c.id) as SANK_EKMP
from RegisterCases.dbo.t_RegisterCaseBack reg inner join RegisterCases.dbo.t_RecordCaseBack rec on
				reg.id=rec.rf_idRegisterCaseBack and
				reg.ref_idF003=@rf_idF003 and
				reg.ReportMonth=@month and
				reg.ReportYear=@year and
				reg.NumberRegister=@number and
				reg.PropertyNumberRegister=@property
							inner join RegisterCases.dbo.t_PatientBack p on
				rec.id=p.rf_idRecordCaseBack and
				p.rf_idSMO=@smo
							inner join RegisterCases.dbo.t_CaseBack cb on
				rec.id=cb.rf_idRecordCaseBack and
				cb.TypePay=1
							inner join RegisterCases.dbo.t_Case c on
				rec.rf_idCase=c.id
							inner join RegisterCases.dbo.t_RecordCase rc on
				c.rf_idRecordCase=rc.id
							inner join RegisterCases.dbo.t_Diagnosis d on
				c.id=d.rf_idCase
							left join RegisterCases.dbo.t_Mes mes on
				c.id=mes.rf_idCase
							left join RegisterCases.dbo.t_FinancialSanctions fin on
				c.id=fin.rf_idCase
RETURN
end;
GO
/****** Object:  StoredProcedure [dbo].[usp_IsFileNameExists]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_IsFileNameExists]
				@fileName varchar(26)
as 

select COUNT(*) from t_File where upper(FileNameHR)= UPPER(rtrim(ltrim(@fileName)))
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertFileError]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_InsertFileError]
			@fileName varchar(26),
			@error TVP_ErrorNumber READONLY
as
	declare @idFile int
	insert t_FileError([FileName]) values(@fileName)
	set @idFile=SCOPE_IDENTITY()
	insert t_Errors(rf_idFileError,ErrorNumber) select @idFile,id from @error	
	
	select @idFile,1
GO
/****** Object:  Table [dbo].[t_RegisterPatient]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_RegisterPatient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rf_idFiles] [int] NOT NULL,
	[ID_Patient] [varchar](36) NOT NULL,
	[Fam] [nvarchar](40) NOT NULL,
	[Im] [nvarchar](40) NOT NULL,
	[Ot] [nvarchar](40) NULL,
	[rf_idV005] [tinyint] NOT NULL,
	[BirthDay] [date] NOT NULL,
	[BirthPlace] [nvarchar](100) NULL,
	[rf_idRecordCase] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [AccountOMSInsurer]
) ON [AccountOMSInsurer]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_RegistersAccounts]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_RegistersAccounts](
	[rf_idFiles] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRecord] [int] NOT NULL,
	[rf_idMO] [char](6) NOT NULL,
	[ReportYear] [smallint] NOT NULL,
	[ReportMonth] [tinyint] NOT NULL,
	[NumberRegister] [int] NOT NULL,
	[PrefixNumberRegister] [char](5) NOT NULL,
	[PropertyNumberRegister] [tinyint] NOT NULL,
	[DateRegister] [date] NOT NULL,
	[rf_idSMO] [char](5) NULL,
	[AmountPayment] [decimal](15, 2) NOT NULL,
	[Comments] [varchar](250) NULL,
	[AmountPaymentAccept] [decimal](11, 2) NULL,
	[AmountMEK] [decimal](15, 2) NULL,
	[AmountMEE] [decimal](15, 2) NULL,
	[AmountEKMP] [decimal](15, 2) NULL,
	[rf_idRegisterCaseBack] [int] NULL,
	[Letter] [char](1) NULL,
 CONSTRAINT [PK_RegistersAccounts_idFiles_idRegisterCases] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_FileExit]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_FileExit](
	[rf_idFile] [int] NOT NULL,
	[FileName] [varchar](26) NOT NULL,
	[DateUnLoad] [datetime] NOT NULL,
	[UserName] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportNotAcceptedAccount]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--подаются тока записи по файлам который были приняты.
create proc [dbo].[usp_ReportNotAcceptedAccount]
			@num nvarchar(max)--TVP_ReportMO READONLY
as
SET LANGUAGE russian
			
declare @t as table(id int)
		
DECLARE @idoc int,
        @err int,
        @xml xml
        
select @xml=CAST(dbo.fn_SplitNumber(@num) as xml)

 EXEC  @err = sp_xml_preparedocument @idoc OUTPUT, @xml
insert @t
select num
from OPENXML(@idoc, '/Root/Num', 1)
          WITH (num int)

 EXEC sp_xml_removedocument @idoc

	select f.FileName,convert(CHAR(10),f.DateCreate,104)+' '+cast(cast(f.DateCreate as time(7)) as varchar(8)) as DateRegistration
	,e.ErrorNumber
	from t_FileError f inner join t_Errors e on
				f.id=e.rf_idFileError
						inner join @t t1 on
				f.id=t1.id
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportAcceptedAccount]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--подаются тока записи по файлам который были приняты.
create proc [dbo].[usp_ReportAcceptedAccount]
			@num nvarchar(max)--TVP_ReportMO READONLY
as
SET LANGUAGE russian
			
declare @t as table(id int)
		
DECLARE @idoc int,
        @err int,
        @xml xml
        
select @xml=CAST(dbo.fn_SplitNumber(@num) as xml)

 EXEC  @err = sp_xml_preparedocument @idoc OUTPUT, @xml
insert @t
select num
from OPENXML(@idoc, '/Root/Num', 1)
          WITH (num int)

 EXEC sp_xml_removedocument @idoc

	select t.NameS,f.FileNameHR,cast(a.PrefixNumberRegister as VARCHAR(5))+'-'+cast(a.NumberRegister as VARCHAR(6))+'-'
			+CAST(a.PropertyNumberRegister as CHAR(1))+ISNULL(a.Letter,'') as Account,CONVERT(CHAR(10),a.DateRegister,104) as DateAccount,
			a.AmountPayment as Summa,s.sNameS,dbo.fn_MonthName(a.ReportYear,a.ReportMonth) as ReportDate,
			convert(CHAR(10),f.DateRegistration,104)+' '+cast(cast(f.DateRegistration as time(7)) as varchar(8)) as DateRegistration
	from t_File f inner join t_RegistersAccounts a on
			f.id=a.rf_idFiles 			
				inner join @t t1 on
			f.id=t1.id
				  inner join vw_sprSMO s on
			a.PrefixNumberRegister=s.smocod
				inner join vw_sprT001 t on
			a.rf_idMO=t.mcod
	order by Account
GO
/****** Object:  Table [dbo].[t_RecordCasePatient]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_RecordCasePatient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rf_idRegistersAccounts] [int] NOT NULL,
	[idRecord] [smallint] NOT NULL,
	[IsNew] [bit] NULL,
	[ID_Patient] [varchar](36) NOT NULL,
	[rf_idF008] [tinyint] NOT NULL,
	[SeriaPolis] [varchar](10) NULL,
	[NumberPolis] [varchar](20) NOT NULL,
	[NewBorn] [varchar](9) NOT NULL,
 CONSTRAINT [PK_RecordCasePatient_idFiles_idRecordCase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [AccountOMSInsurer]
) ON [AccountOMSInsurer]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_RegisterPatientDocument]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_RegisterPatientDocument](
	[rf_idRegisterPatient] [int] NULL,
	[rf_idDocumentType] [char](2) NULL,
	[SeriaDocument] [varchar](10) NULL,
	[NumberDocument] [varchar](20) NULL,
	[SNILS] [char](14) NULL,
	[OKATO] [char](11) NULL,
	[OKATO_Place] [char](11) NULL,
	[Comments] [nvarchar](250) NULL
) ON [AccountOMSInsurer]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_RegisterPatientAttendant]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_RegisterPatientAttendant](
	[rf_idRegisterPatient] [int] NULL,
	[Fam] [nvarchar](40) NOT NULL,
	[Im] [nvarchar](40) NOT NULL,
	[Ot] [nvarchar](40) NULL,
	[rf_idV005] [tinyint] NOT NULL,
	[BirthDay] [date] NOT NULL
) ON [AccountOMSInsurer]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetListFilesUnLoad]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--данные для формы отображающей файлы входящие
create proc [dbo].[usp_GetListFilesUnLoad]
			@smo varchar(5)
as
select f.id,rtrim(f.FileNameHR) as FileNameHR,cast(a.PrefixNumberRegister as VARCHAR(5))+'-'+cast(a.NumberRegister as VARCHAR(6))+'-'
			+CAST(a.PropertyNumberRegister as CHAR(1))+ISNULL(a.Letter,'') as Account,CONVERT(CHAR(10),a.DateRegister,104) as DateAccount,
			cast(a.AmountPayment as decimal(11,2)) as Summa,cast(1 as bit) as IsUnchecked
from t_File f inner join t_RegistersAccounts a on
			f.id=a.rf_idFiles
				inner join vw_sprSMO s on
			a.PrefixNumberRegister=s.smocod				
			and s.smocod=@smo
				left join t_FileExit fe on
			f.id=fe.rf_idFile
where fe.rf_idFile is null
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFileUnLoad]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GetFileUnLoad]
			@tableID as TVP_ErrorNumber READONLY
as
--помечаю файлы которые отдал в СМО
insert t_FileExit(rf_idFile,FileName,DateUnLoad)
select f.id,f.FileNameHR,GETDATE()
from t_File f inner join @tableID t on
		f.id=t.id 
			left join t_FileExit fe on
		f.id=fe.rf_idFile		
where fe.rf_idFile is null
--испоьлзую выбор файлов с помощью FILESTREAM
select FileZIP.PathName(),GET_FILESTREAM_TRANSACTION_CONTEXT(),rtrim(FileNameHR) as FileNameHR
from t_File f inner join @tableID t on
		f.id=t.id
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFiles]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--данные для формы отображающей файлы входящие
create proc [dbo].[usp_GetFiles]
			@year smallint
as
select rtrim(f.FileNameHR) as FileNameHR,cast(a.PrefixNumberRegister as VARCHAR(5))+'-'+cast(a.NumberRegister as VARCHAR(6))+'-'
			+CAST(a.PropertyNumberRegister as CHAR(1))+ISNULL(a.Letter,'') as Account,CONVERT(CHAR(10),a.DateRegister,104) as DateAccount,
			a.AmountPayment as Summa,s.sNameS as SMO,
			l.NameS as LPU,case when fe.rf_idFile is null then 'Нет' else 'Да' end as IsUnLoadToSMO
from t_File f inner join t_RegistersAccounts a on
			f.id=a.rf_idFiles
				inner join vw_sprSMO s on
			a.PrefixNumberRegister=s.smocod
				inner join vw_sprT001 l on
			a.rf_idMO=l.mcod
				left join t_FileExit fe on
			f.id=fe.rf_idFile
where a.ReportYear=@year
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteFiles]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--удаляем файлы если они не были отданны в СМО иначе ничего не удаляем
create proc [dbo].[usp_DeleteFiles]
			@t as TVP_ErrorNumber READONLY
as

if(select COUNT(*) 
	from t_FileExit e inner join @t t on 
			e.rf_idFile=t.id
  )=0
begin
	delete from t_File where id in (select id from @t)
	select 1
end
else 
begin
	select 0
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportUnLoadAccountToSMO]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--подаются тока записи по файлам который были приняты.
create proc [dbo].[usp_ReportUnLoadAccountToSMO]
			@num nvarchar(max),
			@smo nvarchar(5)
as
SET LANGUAGE russian
			
declare @t as table(id int)
		
DECLARE @idoc int,
        @err int,
        @xml xml
        
select @xml=CAST(dbo.fn_SplitNumber(@num) as xml)

 EXEC  @err = sp_xml_preparedocument @idoc OUTPUT, @xml
insert @t
select num
from OPENXML(@idoc, '/Root/Num', 1)
          WITH (num int)

 EXEC sp_xml_removedocument @idoc
	--производим фиксацию об исходящих файлах
	insert t_FileExit(rf_idFile,FileName)
	select f.id,f.FileNameHR
	from t_File f inner join t_RegistersAccounts a on
			f.id=a.rf_idFiles 			
				inner join @t t1 on
			f.id=t1.id
	
	select t.NameS as LPU,f.FileNameHR,cast(a.PrefixNumberRegister as VARCHAR(5))+'-'+cast(a.NumberRegister as VARCHAR(6))+'-'
			+CAST(a.PropertyNumberRegister as CHAR(1))+ISNULL(a.Letter,'') as Account,CONVERT(CHAR(10),a.DateRegister,104) as DateAccount,
			cast(a.AmountPayment as money) as Summa,s.sNameS,dbo.fn_MonthName(a.ReportYear,a.ReportMonth) as ReportDate
			--,convert(CHAR(10),f.DateRegistration,104)+' '+cast(cast(f.DateRegistration as time(7)) as varchar(8)) as DateRegistration
	from t_File f inner join t_RegistersAccounts a on
			f.id=a.rf_idFiles 			
				inner join @t t1 on
			f.id=t1.id
				  inner join vw_sprSMO s on
			a.PrefixNumberRegister=s.smocod
			and s.smocod=@smo
				inner join vw_sprT001 t on
			a.rf_idMO=t.mcod			
	order by LPU,Account
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CheckAccount]    Script Date: 12/01/2011 09:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--функция возвращает 1 если присутствует данный номер реестр СП и ТК и небыл принят счет с данным номером на это лпу
--если возвращаемое значение отлично от 1 значит ошибка.
CREATE FUNCTION [dbo].[fn_CheckAccount](@account varchar(15),@codeMO char(6),@month tinyint,@year smallint)
RETURNS int
as
begin
declare @i int

	select @i=COUNT(distinct r.id)
	from RegisterCases.dbo.t_RegisterCaseBack r inner join RegisterCases.dbo.t_RecordCaseBack rec on
					r.id=rec.rf_idRegisterCaseBack
					and r.ref_idF003=@codeMO 
					and ReportMonth=@month 
					and ReportYear=@year 
							inner join RegisterCases.dbo.t_PatientBack p on
					rec.id=p.rf_idRecordCaseBack							
	where p.rf_idSMO+'-'+CAST(r.NumberRegister as varchar(6))+'-'+CAST(r.PropertyNumberRegister as CHAR(1))= (case when ISNUMERIC(RIGHT(@account,1))=1 then @account else SUBSTRING(@account,1,LEN(@account)-1) end)
	select @i=@i+COUNT(*) 
	from t_RegistersAccounts 
	where rf_idMO=@codeMO and PrefixNumberRegister+'-'+CAST(NumberRegister as varchar(6))+'-'+CAST(PropertyNumberRegister as CHAR(1))+ISNULL(Letter,'')=@account
	
RETURN(isnull(@i,0))
end;
GO
/****** Object:  Table [dbo].[t_Case]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Case](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rf_idRecordCasePatient] [int] NOT NULL,
	[idRecordCase] [int] NOT NULL,
	[GUID_Case] [uniqueidentifier] NOT NULL,
	[rf_idV006] [tinyint] NOT NULL,
	[rf_idV008] [smallint] NOT NULL,
	[rf_idDirectMO] [char](6) NULL,
	[HopitalisationType] [tinyint] NULL,
	[rf_idMO] [char](6) NOT NULL,
	[rf_idSubMO] [char](6) NULL,
	[rf_idDepartmentMO] [int] NULL,
	[rf_idV002] [smallint] NOT NULL,
	[IsChildTariff] [bit] NOT NULL,
	[NumberHistoryCase] [nvarchar](50) NOT NULL,
	[DateBegin] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
	[rf_idV009] [smallint] NOT NULL,
	[rf_idV012] [smallint] NOT NULL,
	[rf_idV004] [int] NOT NULL,
	[rf_idDoctor] [char](16) NULL,
	[IsSpecialCase] [tinyint] NULL,
	[rf_idV010] [tinyint] NOT NULL,
	[AmountPayment] [decimal](15, 2) NOT NULL,
	[TypePay] [tinyint] NULL,
	[AmountPaymentAccept] [decimal](15, 2) NULL,
	[Comments] [nvarchar](250) NULL,
	[Age] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [AccountOMSCase]
) ON [AccountOMSCase]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_PatientSMO]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_PatientSMO](
	[rf_idRecordCasePatient] [int] NOT NULL,
	[rf_idSMO] [char](5) NULL,
	[OGRN] [char](15) NULL,
	[OKATO] [char](5) NULL,
	[Name] [nvarchar](100) NULL
) ON [AccountOMSInsurer]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_FinancialSanctions]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_FinancialSanctions](
	[rf_idCase] [bigint] NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[TypeSanction] [tinyint] NOT NULL
) ON [AccountOMSCase]
GO
/****** Object:  Table [dbo].[t_Diagnosis]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Diagnosis](
	[DiagnosisCode] [char](10) NULL,
	[rf_idCase] [bigint] NOT NULL,
	[TypeDiagnosis] [tinyint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_ReasonPaymentCancelled]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ReasonPaymentCancelled](
	[rf_idCase] [bigint] NOT NULL,
	[rf_idPaymentAccountCanseled] [tinyint] NOT NULL
) ON [AccountOMSCase]
GO
/****** Object:  Table [dbo].[t_Meduslugi]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Meduslugi](
	[rf_idCase] [bigint] NOT NULL,
	[id] [int] NOT NULL,
	[GUID_MU] [uniqueidentifier] NOT NULL,
	[rf_idMO] [char](6) NOT NULL,
	[rf_idSubMO] [char](6) NULL,
	[rf_idDepartmentMO] [int] NULL,
	[rf_idV002] [smallint] NOT NULL,
	[IsChildTariff] [bit] NOT NULL,
	[DateHelpBegin] [date] NOT NULL,
	[DateHelpEnd] [date] NOT NULL,
	[DiagnosisCode] [char](10) NOT NULL,
	[MUGroupCode] [tinyint] NOT NULL,
	[MUUnGroupCode] [tinyint] NOT NULL,
	[MUCode] [smallint] NOT NULL,
	[Quantity] [decimal](6, 2) NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[TotalPrice] [decimal](15, 2) NOT NULL,
	[rf_idV004] [int] NOT NULL,
	[rf_idDoctor] [char](16) NULL,
	[Comments] [nvarchar](250) NULL
) ON [AccountOMSMeduslugi]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_MES]    Script Date: 12/01/2011 09:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_MES](
	[MES] [char](16) NULL,
	[rf_idCase] [bigint] NOT NULL,
	[TypeMES] [tinyint] NOT NULL,
	[Quantity] [decimal](5, 2) NULL,
	[Tariff] [decimal](15, 2) NULL
) ON [AccountOMSCase]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertAccountDataLPU]    Script Date: 12/01/2011 09:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_InsertAccountDataLPU]
			@doc xml,
			@patient xml,
			@file varbinary(max),
			@fileName varchar(26)
as
DECLARE @idoc int,
		@ipatient int,
		@id int,
		@idFile int--,
		--@error tinyint=0

---create tempory table----------------------------------------------

declare @t1 as table([VERSION] char(5),DATA date,[FILENAME] varchar(26))

declare @t2 as table(
					 CODE int,
					 CODE_MO int,
					 [YEAR] smallint,
					 [MONTH] tinyint,
					 NSCHET nvarchar(15),
					 DSCHET date,
					 PLAT nvarchar(5),
					 SUMMAV numeric(11, 2),
					 COMENTS nvarchar(250)) 

declare @t3 as table(
					  N_ZAP int,
					  PR_NOV tinyint,
					  ID_PAC nvarchar(36),
					  VPOLIS tinyint,
					  SPOLIS nchar(10),
					  NPOLIS nchar(20),
					  SMO nchar(5),
					  SMO_OK nchar(5),
					  NOVOR nchar(9)
					 )


declare @t5 as table(
						ID_PAC nvarchar(36),
						IDCASE int,
						ID_C uniqueidentifier,
						USL_OK tinyint,
						VIDPOM smallint,
						NPR_MO nvarchar(6),
						EXTR tinyint,
						LPU nvarchar(6),
						PROFIL smallint,
						DET tinyint,
						NHISTORY nvarchar(50),
						DATE_1 date,
						DATE_2 date,
						DS0 nvarchar(10),
						DS1 nvarchar(10),
						DS2 nvarchar(10),
						CODE_MES1 nvarchar(16),
						RSLT smallint,
						ISHOD smallint,
						PRVS bigint,
						OS_SLUCH tinyint,
						IDSP tinyint,
						ED_COL numeric(5, 2),
						TARIF numeric(15, 2),
						SUMV numeric(15, 2),
						--REFREASON tinyint, 
						SANK_MEK numeric(15, 2),
						SANK_MEE numeric(15, 2),
						SANK_EKMP numeric(15, 2),
						COMENTSL nvarchar(250)
					)
					 
declare @t6 as table (
					   ID_C uniqueidentifier,
					   IDSERV int,
					   ID_U uniqueidentifier,
					   LPU nvarchar(6),
					   PROFIL smallint,
					   DET tinyint,
					   DATE_IN date,
					   DATE_OUT date,
					   DS nvarchar(10),
					   CODE_USL nvarchar(16),
					   KOL_USL numeric(6, 2),
					   TARIF numeric(15, 2),
					   SUMV_USL numeric(15, 2),
					   PRVS bigint,
					   COMENTU nvarchar(250)
					   )
					   
declare @t7 as table([VERSION] nchar(5),DATA date,[FILENAME] nchar(26),FILENAME1 nchar(26))

declare @t8 as table(
						ID_PAC nvarchar(36),
						FAM nvarchar(40),
						IM nvarchar(40),
						OT nvarchar(40),
						W tinyint,
						DR date,
						FAM_P nvarchar(40),
						IM_P nvarchar(40),
						OT_P nvarchar(40),
						W_P tinyint,
						DR_P date,
						MR nvarchar(100),
						DOCTYPE nchar(2),
						DOCSER nchar(10),
						DOCNUM nchar(20),
						SNILS nchar(14),
						OKATOG nchar(11),
						OKATOP nchar(11),
						COMENTP nvarchar(250)
					)

declare @tempID as table(id int, ID_PAC nvarchar(36))

declare @tableId as table(id int,ID_PAC nvarchar(36))
---------------------------------------------------------------------
EXEC sp_xml_preparedocument @idoc OUTPUT, @doc

insert @t1
SELECT [version],REPLACE(DATA,'-',''),[FILENAME]
FROM OPENXML (@idoc, 'ZL_LIST/ZGLV',2)
	WITH(
			[VERSION] NCHAR(5) './VERSION',
			[DATA] NCHAR(10) './DATA',
			[FILENAME] NCHAR(26) './FILENAME'
		)
	
insert @t2
select CODE,CODE_MO,[YEAR],[MONTH],NSCHET,replace(DSCHET,'-',''),PLAT,SUMMAV,COMENTS
FROM OPENXML (@idoc, 'ZL_LIST/SCHET',2)
	WITH 
	(	
		CODE int './CODE',
		CODE_MO int './CODE_MO',
		[YEAR]	smallint './YEAR',
		[MONTH] tinyint './MONTH',
		NSCHET nvarchar(15) './NSCHET',
		DSCHET nchar(10) './DSCHET',
		PLAT nvarchar(5) './PLAT',
		SUMMAV decimal(11,2) './SUMMAV',
		COMENTS nvarchar(250) './COMENTS'		
	)

insert @t3
SELECT N_ZAP,PR_NOV,ID_PAC,VPOLIS,SPOLIS,NPOLIS,SMO,SMO_OK,NOVOR
FROM OPENXML (@idoc, 'ZL_LIST/ZAP',2)
	WITH(
			N_ZAP int './N_ZAP',
			PR_NOV tinyint './PR_NOV',
			ID_PAC nvarchar(36)'./PACIENT/ID_PAC',
			VPOLIS tinyint './PACIENT/VPOLIS',
			SPOLIS nchar(10) './PACIENT/SPOLIS',
			NPOLIS nchar(20) './PACIENT/NPOLIS',
			SMO nchar(5) './PACIENT/SMO',
			SMO_OK nchar(5) './PACIENT/SMO_OK',
			NOVOR nchar(9) './PACIENT/NOVOR'
		)

insert @t5
SELECT ID_PAC,IDCASE,ID_C,USL_OK,VIDPOM,NPR_MO,EXTR,LPU,PROFIL,DET,NHISTORY,replace(DATE_1,'-',''),replace(DATE_2,'-',''),DS0,DS1,DS2,CODE_MES1,RSLT,ISHOD,
		PRVS,OS_SLUCH,IDSP,ED_COL,TARIF,SUMV,SANK_MEK,SANK_MEE,SANK_EKMP,COMENTSL
FROM OPENXML (@idoc, 'ZL_LIST/ZAP/SLUCH',3)
	WITH(
			ID_PAC nvarchar(36) '../PACIENT/ID_PAC',
			IDCASE int ,
			ID_C uniqueidentifier,
			USL_OK tinyint ,
			VIDPOM smallint,
			NPR_MO nchar(6),
			EXTR tinyint ,
			LPU nchar(6) ,
			PROFIL smallint,
			DET tinyint ,
			NHISTORY nvarchar(50) ,
			DATE_1 nchar(10) ,
			DATE_2 nchar(10) ,
			DS0 nchar(10) ,
			DS1 nchar(10) ,
			DS2 nchar(10) ,
			CODE_MES1 nchar(16) ,			
			RSLT smallint ,
			ISHOD smallint,
			PRVS bigint ,
			OS_SLUCH tinyint ,
			IDSP TINYINT ,
			ED_COL DECIMAL(5,2) ,
			TARIF DECIMAL(15,2) ,	
			SUMV DECIMAL(15,2) ,	
			SANK_MEK DECIMAL(15,2),
			SANK_MEE DECIMAL(15,2),
			SANK_EKMP DECIMAL(15,2),
			COMENTSL NVARCHAR(250) 
		)

insert @t6
SELECT ID_C,IDSERV,ID_U,LPU,PROFIL,DET,replace(DATE_IN,'-',''),replace(DATE_OUT,'-',''),DS,CODE_USL,KOL_USL,TARIF,SUMV_USL,PRVS,COMENTU
FROM OPENXML (@idoc, 'ZL_LIST/ZAP/SLUCH/USL',3)
	WITH(
			ID_C uniqueidentifier '../ID_C',
			IDSERV INT ,
			ID_U uniqueidentifier ,
			LPU nchar(6) ,
			PROFIL smallint,
			DET tinyint ,
			DATE_IN nchar(10),
			DATE_OUT nchar(10),
			DS nchar(10),
			CODE_USL nchar(16),
			KOL_USL DECIMAL(6,2),
			TARIF DECIMAL(15,2) ,	
			SUMV_USL DECIMAL(15,2),	
			PRVS bigint ,
			COMENTU NVARCHAR(250) 
		)

EXEC sp_xml_removedocument @idoc

---------------Patient----------------------------------
EXEC sp_xml_preparedocument @ipatient OUTPUT, @patient

insert @t7
SELECT [VERSION],replace(DATA,'-',''),[FILENAME],FILENAME1
FROM OPENXML (@ipatient, 'PERS_LIST/ZGLV',2)
	WITH(
			[VERSION] NCHAR(5) './VERSION',
			[DATA] NCHAR(10) './DATA',
			[FILENAME] NCHAR(26) './FILENAME',
			[FILENAME1] NCHAR(26) './FILENAME1'
		)
		
insert @t8
SELECT ID_PAC,FAM,IM,OT,W,replace(DR,'-',''),FAM_P,IM_P,OT_P,W_P,replace(DR_P,'-',''),MR,DOCTYPE,DOCSER,DOCNUM,SNILS,OKATOG,OKATOP,COMENTP
FROM OPENXML (@ipatient, 'PERS_LIST/PERS',2)
	WITH(
			ID_PAC NVARCHAR(36),
			FAM NVARCHAR(40),
			IM NVARCHAR(40),
			OT NVARCHAR(40),
			W TINYINT,
			DR NCHAR(10),
			FAM_P NVARCHAR(40),
			IM_P NVARCHAR(40),
			OT_P NVARCHAR(40),
			W_P TINYINT,
			DR_P NCHAR(10),
			MR NVARCHAR(100),
			DOCTYPE NCHAR(2),
			DOCSER NCHAR(10),
			DOCNUM NCHAR(20),
			SNILS NCHAR(14),
			OKATOG NCHAR(11),
			OKATOP NCHAR(11),
			COMENTP NVARCHAR(250)
		)		
EXEC sp_xml_removedocument @ipatient
--select * from @t7
--select * from @t8

declare @account varchar(15),
		@codeMO char(6),
		@month tinyint,
		@year smallint
select @account=NSCHET,@year=[YEAR],@month=[MONTH],@codeMO=CODE_MO from @t2
declare @et as table(errorId smallint)
--проверяем счет на соответствие ему реестра СП и ТК. добавить проверку счета на уникальность
--select dbo.fn_CheckAccount(@account,@codeMO,@month,@year)
--select @account,@codeMO,@month,@year
if dbo.fn_CheckAccount(@account,@codeMO,@month,@year)=1
begin
	--select 'проверяем случаи и медуслуги, должны ли они выставить все случаи или нет'
	declare @caseRC int,
			@caseA int,
			@meduslugiRC int,
			@meduslugiA int
			
	
	--select @caseRC=CHECKSUM_AGG(BINARY_CHECKSUM(*)) from dbo.fn_GetCaseFromRegisterCaseDB(@account,@codeMO,@month,@year)	
	select @caseA=count(*)  from @t5 t	
												
	select @caseRC=COUNT(*)
	from dbo.fn_GetCaseFromRegisterCaseDB(@account,@codeMO,@month,@year) t inner join @t5 t1 on
			upper(ID_PAC)=upper(t.ID_Patient) 
			and ID_C=t.GUID_Case
			and USL_OK=t.rf_idV006 
			and VIDPOM=t.rf_idV008
			and isnull(NPR_MO,0)=isnull(t.rf_idDirectMO,0)
			and isnull(EXTR,0)=isnull(t.HopitalisationType,0)
			and LPU=t.rf_idMO
			and PROFIL=t.rf_idV002
			and DET =t.IsChildTariff
			and NHISTORY =NumberHistoryCase
			and DATE_1=DateBegin
			and DATE_2=DateEnd
			and isnull(t1.DS0,0)=isnull(t.DS0,0)
			and t1.DS1=t.DS1
			and isnull(t1.DS2,2)=isnull(t.DS2,2)
			and isnull(CODE_MES1,0)=isnull(t.MES,0) 
			and RSLT=t.rf_idV009  
			and ISHOD=t.rf_idV012  
			and PRVS=t.rf_idV004  
			and isnull(OS_SLUCH,0)=isnull(t.IsSpecialCase,0)
			and IDSP=t.rf_idV010  
			and isnull(ED_COL,0)=ISNULL(t.Quantity,0) 
			and isnull(TARIF ,0)=ISNULL(t.Tariff,0) 
	
	--select @caseRC,@caseA
	
	if(isnull(@caseRC,0)-isnull(@caseA,0))<0
	begin
		insert @et values(50)
	end
	--
	--select @meduslugiRC=CHECKSUM_AGG(BINARY_CHECKSUM(*)) from dbo.fn_GetMeduslugiFromRegisterCaseDB(@account,@codeMO,@month,@year)	
	select @meduslugiA=count(*) from @t6 t
													
	select @meduslugiRC=COUNT(*)
	from dbo.fn_GetMeduslugiFromRegisterCaseDB(@account,@codeMO,@month,@year) t0 inner join @t6 t on
			ID_C=t0.GUID_Case
			and ID_U= GUID_MU
			and LPU=rf_idMO
			and PROFIL=rf_idV002
			and DET =IsChildTariff
			and DATE_IN =DateHelpBegin
			and DATE_OUT =DateHelpEnd
			and rtrim(DS) =rtrim(DiagnosisCode)
			and rtrim(CODE_USL)=rtrim(MUCode)
			and KOL_USL= Quantity
			and TARIF=Price
			and SUMV_USL =TotalPrice
			and PRVS=rf_idV004
	
	
	if(isnull(@meduslugiRC,0)-isnull(@meduslugiA,0))<0
	begin
		insert @et values(50)
	end
	
end
else
begin	
	insert @et values(50)
end
--возвращаем @idFile и 0 или 1 отличное от нуля(0- ошибок нету,  1-ошибки есть)
if (select count(*) from @et)>0
begin
	insert t_FileError([FileName]) values(@fileName)
	set @idFile=SCOPE_IDENTITY()
	insert t_Errors(rf_idFileError,ErrorNumber) select @idFile,errorId from @et	
end
else
begin
--раскладываем данные по таблица в базе счета

	begin transaction
	begin try
	------Insert into RegisterCase's tables------------------------------
		
	insert t_File(DateRegistration,FileVersion,DateCreate,FileNameHR,FileNameLR,FileZIP)
	select GETDATE(),[VERSION],DATA,FILENAME1,[FILENAME],@file  from @t7
	select @idFile=SCOPE_IDENTITY()
	
	insert t_RegistersAccounts(rf_idFiles,idRecord,rf_idMO,ReportYear,ReportMonth,NumberRegister,PrefixNumberRegister,PropertyNumberRegister,
								DateRegister,rf_idSMO,AmountPayment,Comments,Letter)
	select @idFile,CODE,CODE_MO,[YEAR],[MONTH],dbo.fn_NumberRegister(NSCHET),dbo.fn_PrefixNumberRegister(NSCHET),dbo.fn_PropertyNumberRegister(NSCHET),
			DSCHET,PLAT,SUMMAV,COMENTS,dbo.fn_LetterNumberRegister(NSCHET)
	from @t2
	select @id=SCOPE_IDENTITY()
	
	insert t_RecordCasePatient(rf_idRegistersAccounts,idRecord,IsNew,ID_Patient,rf_idF008,SeriaPolis,NumberPolis,NewBorn)
	output inserted.id,inserted.ID_Patient into @tempID
	select @id,N_ZAP,PR_NOV,ID_PAC,VPOLIS,SPOLIS,NPOLIS,NOVOR from @t3
	
	insert t_PatientSMO(rf_idRecordCasePatient,rf_idSMO,OKATO)
	select t2.id,t1.SMO,t1.SMO_OK
	from @t3 t1 inner join @tempID t2 on
				t1.ID_PAC=t2.ID_PAC
	where t1.SMO is not null
	
	insert t_Case(rf_idRecordCasePatient, idRecordCase, GUID_Case, rf_idV006, rf_idV008, rf_idDirectMO, HopitalisationType, rf_idMO, rf_idV002, IsChildTariff, 
				NumberHistoryCase, DateBegin, DateEnd, rf_idV009, rf_idV012, rf_idV004, IsSpecialCase, rf_idV010, AmountPayment, Comments,Age)
	select t2.id,t1.IDCASE,t1.ID_C, t1.USL_OK,t1.VIDPOM, t1.NPR_MO,t1.EXTR,t1.LPU,t1.PROFIL,t1.DET,t1.NHISTORY,t1.DATE_1,t1.DATE_2,t1.RSLT,t1.ISHOD,
			t1.PRVS,t1.OS_SLUCH,t1.IDSP,t1.SUMV,t1.COMENTSL,dbo.fn_FullYear(t3.DR,t1.DATE_1)
	from @t5 t1 inner join @tempID t2 on
			t1.ID_PAC=t2.ID_PAC
				left join @t8 t3 on
			t1.ID_PAC=t3.ID_PAC
	
	------------------------------------------------------------------------------------------------------------------
	insert t_Diagnosis(DiagnosisCode,rf_idCase,TypeDiagnosis)
	select DS0,c.id,2 
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	where DS0 is not null
	union all
	select DS1,c.id,1 
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	union all
	select DS2,c.id,3 
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C		
	where DS2 is not null
	--------------------------------------------------------------------------------------------------------------------

	insert t_MES(MES,rf_idCase,TypeMES,Quantity,Tariff)
	select t1.CODE_MES1,c.id,1,t1.ED_COL,t1.TARIF
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	where t1.CODE_MES1 is not null
	---------------------------------------------------------------------------------------------------------------------
		--блокап где вставляются причины отказа нету т.к. счета должны быть принесены чистыми
	---------------------------------------------------------------------------------------------------------------------
	insert t_FinancialSanctions(rf_idCase,Amount,TypeSanction)
	select c.id,t1.SANK_MEK,1
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	where t1.SANK_MEK is not null
	union all
	select c.id,t1.SANK_MEE,2
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	where t1.SANK_MEE is not null
	union all
	select c.id,t1.SANK_EKMP,3
	from t_Case c inner join @t5 t1 on
			c.GUID_Case=t1.ID_C
	where t1.SANK_EKMP is not null
	-------------------------------------------------------------------------------------------------------------------------
	insert t_Meduslugi(rf_idCase,id,GUID_MU,rf_idMO, rf_idV002, IsChildTariff, DateHelpBegin, DateHelpEnd, DiagnosisCode,MUGroupCode,MUUnGroupCode
						,MUCode, Quantity, Price, TotalPrice, rf_idV004, Comments)
	select c.id,t1.IDSERV, t1.ID_U, t1.LPU, t1.PROFIL, t1.DET,t1.DATE_IN,t1.DATE_OUT,t1.DS,mu.MUGroupCode,mu.MUUnGroupCode,mu.MUCode
			,t1.KOL_USL,t1.TARIF,t1.SUMV_USL,t1.PRVS,t1.COMENTU
	from @t6 t1 inner join t_Case c on
				t1.ID_C=c.GUID_Case
				inner join vw_sprMU mu on
			t1.CODE_USL=mu.MU
	where t1.ID_U is not null
	----------------------------------------------------------------------------------------------------------------------

	insert t_RegisterPatient(rf_idFiles, ID_Patient, Fam, Im, Ot, rf_idV005, BirthDay, BirthPlace,rf_idRecordCase)
		output inserted.id,inserted.ID_Patient into @tableId
	select @idFile,t1.ID_PAC,t1.FAM,t1.IM,case when t1.OT='НЕТ' then null else t1.OT end,t1.W,t1.DR,t1.MR,t2.id
	from @t8 t1 left join @tempID t2 on
					t1.ID_PAC=t2.ID_PAC

	insert t_RegisterPatientDocument(rf_idRegisterPatient, rf_idDocumentType, SeriaDocument, NumberDocument, SNILS, OKATO, OKATO_Place, Comments)
	select t2.id,t1.DOCTYPE,t1.DOCSER,t1.DOCNUM,t1.SNILS,t1.OKATOG,t1.OKATOP,t1.COMENTP
	from @t8 t1 inner join @tableId t2 on
			t1.ID_PAC=t2.ID_PAC
	where (t1.DOCTYPE is not null) or (t1.DOCSER is not null) or (t1.DOCNUM is not null)

	insert t_RegisterPatientAttendant(rf_idRegisterPatient, Fam, Im, Ot, rf_idV005, BirthDay)
	select t2.id,t1.FAM_P,t1.IM_P,t1.OT_P,t1.W_P,t1.DR_P
	from @t8 t1 inner join @tableId t2 on
			t1.ID_PAC=t2.ID_PAC
	where (t1.FAM_P is not null) and (t1.IM_P is not null) and (t1.W_P is not null) and (t1.DR_P is not null)
	
	
	end try
	begin catch
	if @@TRANCOUNT>0
		select ERROR_MESSAGE(),ERROR_LINE()
		rollback transaction
	end catch
	if @@TRANCOUNT>0
		commit transaction
end

if(select COUNT(*) from @et)>0
	select @idFile,1
else 
	select @idFile,0
GO
/****** Object:  Default [DF_GUID_File]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_File] ADD  CONSTRAINT [DF_GUID_File]  DEFAULT (newsequentialid()) FOR [GUID]
GO
/****** Object:  Default [DF_DateRegistration]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_File] ADD  CONSTRAINT [DF_DateRegistration]  DEFAULT (getdate()) FOR [DateRegistration]
GO
/****** Object:  Default [DF_DateDelete]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileDelete] ADD  CONSTRAINT [DF_DateDelete]  DEFAULT (getdate()) FOR [DateDelete]
GO
/****** Object:  Default [DF_DeleteUserName]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileDelete] ADD  CONSTRAINT [DF_DeleteUserName]  DEFAULT (original_login()) FOR [UserName]
GO
/****** Object:  Default [DF_DateCreate]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileError] ADD  CONSTRAINT [DF_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
/****** Object:  Default [DF_DateUnLoad]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileExit] ADD  CONSTRAINT [DF_DateUnLoad]  DEFAULT (getdate()) FOR [DateUnLoad]
GO
/****** Object:  Default [DF_UnLoadUserName]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileExit] ADD  CONSTRAINT [DF_UnLoadUserName]  DEFAULT (original_login()) FOR [UserName]
GO
/****** Object:  Default [DF_DateRegistrationFileTested]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileTested] ADD  CONSTRAINT [DF_DateRegistrationFileTested]  DEFAULT (getdate()) FOR [DateRegistration]
GO
/****** Object:  Default [DF_UserName]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileTested] ADD  CONSTRAINT [DF_UserName]  DEFAULT (original_login()) FOR [UserName]
GO
/****** Object:  Check [CH_More_Equal_Zero]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_Case]  WITH CHECK ADD  CONSTRAINT [CH_More_Equal_Zero] CHECK  (([AmountPayment]>=(0)))
GO
ALTER TABLE [dbo].[t_Case] CHECK CONSTRAINT [CH_More_Equal_Zero]
GO
/****** Object:  Check [CheckMonth]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegistersAccounts]  WITH CHECK ADD  CONSTRAINT [CheckMonth] CHECK  (([ReportMonth]>(0) AND [ReportMonth]<(13)))
GO
ALTER TABLE [dbo].[t_RegistersAccounts] CHECK CONSTRAINT [CheckMonth]
GO
/****** Object:  Check [CheckNumber]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegistersAccounts]  WITH CHECK ADD  CONSTRAINT [CheckNumber] CHECK  (([NumberRegister]>(0)))
GO
ALTER TABLE [dbo].[t_RegistersAccounts] CHECK CONSTRAINT [CheckNumber]
GO
/****** Object:  Check [CheckRegisterDate]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegistersAccounts]  WITH CHECK ADD  CONSTRAINT [CheckRegisterDate] CHECK  (([DateRegister]<=getdate()))
GO
ALTER TABLE [dbo].[t_RegistersAccounts] CHECK CONSTRAINT [CheckRegisterDate]
GO
/****** Object:  Check [CheckYear]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegistersAccounts]  WITH CHECK ADD  CONSTRAINT [CheckYear] CHECK  (([ReportYear]>(datepart(year,getdate())-(1)) AND [ReportYear]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[t_RegistersAccounts] CHECK CONSTRAINT [CheckYear]
GO
/****** Object:  ForeignKey [FK_Cases_RecordCasePatient]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_Case]  WITH CHECK ADD  CONSTRAINT [FK_Cases_RecordCasePatient] FOREIGN KEY([rf_idRecordCasePatient])
REFERENCES [dbo].[t_RecordCasePatient] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_Case] CHECK CONSTRAINT [FK_Cases_RecordCasePatient]
GO
/****** Object:  ForeignKey [FK_Diagnosis_Cases]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_Diagnosis]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosis_Cases] FOREIGN KEY([rf_idCase])
REFERENCES [dbo].[t_Case] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_Diagnosis] CHECK CONSTRAINT [FK_Diagnosis_Cases]
GO
/****** Object:  ForeignKey [FK_Errors_FileError]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_Errors]  WITH CHECK ADD  CONSTRAINT [FK_Errors_FileError] FOREIGN KEY([rf_idFileError])
REFERENCES [dbo].[t_FileError] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_Errors] CHECK CONSTRAINT [FK_Errors_FileError]
GO
/****** Object:  ForeignKey [FK_FileExit_Files]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FileExit]  WITH CHECK ADD  CONSTRAINT [FK_FileExit_Files] FOREIGN KEY([rf_idFile])
REFERENCES [dbo].[t_File] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_FileExit] CHECK CONSTRAINT [FK_FileExit_Files]
GO
/****** Object:  ForeignKey [FK_FinancialSanctions_Cases]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_FinancialSanctions]  WITH CHECK ADD  CONSTRAINT [FK_FinancialSanctions_Cases] FOREIGN KEY([rf_idCase])
REFERENCES [dbo].[t_Case] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_FinancialSanctions] CHECK CONSTRAINT [FK_FinancialSanctions_Cases]
GO
/****** Object:  ForeignKey [FK_Meduslugi_Cases]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_Meduslugi]  WITH CHECK ADD  CONSTRAINT [FK_Meduslugi_Cases] FOREIGN KEY([rf_idCase])
REFERENCES [dbo].[t_Case] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_Meduslugi] CHECK CONSTRAINT [FK_Meduslugi_Cases]
GO
/****** Object:  ForeignKey [FK_MES_Cases]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_MES]  WITH CHECK ADD  CONSTRAINT [FK_MES_Cases] FOREIGN KEY([rf_idCase])
REFERENCES [dbo].[t_Case] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_MES] CHECK CONSTRAINT [FK_MES_Cases]
GO
/****** Object:  ForeignKey [FK_PatientSMO_Patient]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_PatientSMO]  WITH CHECK ADD  CONSTRAINT [FK_PatientSMO_Patient] FOREIGN KEY([rf_idRecordCasePatient])
REFERENCES [dbo].[t_RecordCasePatient] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_PatientSMO] CHECK CONSTRAINT [FK_PatientSMO_Patient]
GO
/****** Object:  ForeignKey [FK_ReasonPaymentCanseled_Cases]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_ReasonPaymentCancelled]  WITH CHECK ADD  CONSTRAINT [FK_ReasonPaymentCanseled_Cases] FOREIGN KEY([rf_idCase])
REFERENCES [dbo].[t_Case] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_ReasonPaymentCancelled] CHECK CONSTRAINT [FK_ReasonPaymentCanseled_Cases]
GO
/****** Object:  ForeignKey [FK_RecordCasePatient_RegistersAccounts]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RecordCasePatient]  WITH CHECK ADD  CONSTRAINT [FK_RecordCasePatient_RegistersAccounts] FOREIGN KEY([rf_idRegistersAccounts])
REFERENCES [dbo].[t_RegistersAccounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_RecordCasePatient] CHECK CONSTRAINT [FK_RecordCasePatient_RegistersAccounts]
GO
/****** Object:  ForeignKey [FK_RegisterPatient_Files]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegisterPatient]  WITH CHECK ADD  CONSTRAINT [FK_RegisterPatient_Files] FOREIGN KEY([rf_idFiles])
REFERENCES [dbo].[t_File] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_RegisterPatient] CHECK CONSTRAINT [FK_RegisterPatient_Files]
GO
/****** Object:  ForeignKey [FK_RegisterPatientAttendant_RegisterPatient]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegisterPatientAttendant]  WITH CHECK ADD  CONSTRAINT [FK_RegisterPatientAttendant_RegisterPatient] FOREIGN KEY([rf_idRegisterPatient])
REFERENCES [dbo].[t_RegisterPatient] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_RegisterPatientAttendant] CHECK CONSTRAINT [FK_RegisterPatientAttendant_RegisterPatient]
GO
/****** Object:  ForeignKey [FK_RegisterPatientDocument_RegisterPatient]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegisterPatientDocument]  WITH CHECK ADD  CONSTRAINT [FK_RegisterPatientDocument_RegisterPatient] FOREIGN KEY([rf_idRegisterPatient])
REFERENCES [dbo].[t_RegisterPatient] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_RegisterPatientDocument] CHECK CONSTRAINT [FK_RegisterPatientDocument_RegisterPatient]
GO
/****** Object:  ForeignKey [FK_RegistersAccounts_Files]    Script Date: 12/01/2011 09:40:15 ******/
ALTER TABLE [dbo].[t_RegistersAccounts]  WITH CHECK ADD  CONSTRAINT [FK_RegistersAccounts_Files] FOREIGN KEY([rf_idFiles])
REFERENCES [dbo].[t_File] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[t_RegistersAccounts] CHECK CONSTRAINT [FK_RegistersAccounts_Files]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_ReportMO]    Script Date: 12/01/2011 09:40:23 ******/
CREATE TYPE [dbo].[TVP_ReportMO] AS TABLE(
	[id] [int] NULL,
	[isfault] [bit] NULL
)
GO
