USE [RegisterCases]
GO
/****** Object:  StoredProcedure [dbo].[usp_Test404]    Script Date: 17.01.2018 9:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[usp_Test404]
		@idFile INT,
		@month tinyint,
		@year smallint,
		@codeLPU char(6)		
AS
insert #tError
select DISTINCT c.id,404
from t_File f INNER JOIN t_RegistersCase a ON
		f.id=a.rf_idFiles
		AND a.ReportMonth=@month
		AND a.ReportYear=@year
			  inner join t_RecordCase r on
		a.id=r.rf_idRegistersCase
			  inner join t_Case c on
		r.id=c.rf_idRecordCase				
			INNER JOIN (VALUES('101003'),('103001'), ('131001'), ('171004') ) v(CodeM) ON
		f.CodeM=v.CodeM          
where a.rf_idFiles=@idFile AND c.rf_idV006=1 AND LEN(ISNULL(c.rf_idDepartmentMO ,0))<>6	AND c.DateEnd>='20170801'

/*
поля LPU_1 и PODR должны быть одновременно заполнены или одновременно не заполнены
*/
insert #tError
select DISTINCT c.id,404
from t_File f INNER JOIN t_RegistersCase a ON
		f.id=a.rf_idFiles
		AND a.ReportMonth=@month
		AND a.ReportYear=@year
			  inner join t_RecordCase r on
		a.id=r.rf_idRegistersCase
			  inner join t_Case c on
		r.id=c.rf_idRecordCase						
where a.rf_idFiles=@idFile AND LEN(ISNULL(c.rf_idDepartmentMO ,0))=0 AND LEN(ISNULL(c.rf_idSubMO ,0))>0 AND c.DateEnd>='20180101'

insert #tError
select DISTINCT c.id,404
from t_File f INNER JOIN t_RegistersCase a ON
		f.id=a.rf_idFiles
		AND a.ReportMonth=@month
		AND a.ReportYear=@year
			  inner join t_RecordCase r on
		a.id=r.rf_idRegistersCase
			  inner join t_Case c on
		r.id=c.rf_idRecordCase						
where a.rf_idFiles=@idFile AND LEN(ISNULL(c.rf_idDepartmentMO ,0))>0 AND LEN(ISNULL(c.rf_idSubMO ,0))=0 AND c.DateEnd>='20180101'

insert #tError
select DISTINCT c.id,404
from t_File f INNER JOIN t_RegistersCase a ON
		f.id=a.rf_idFiles
		AND a.ReportMonth=@month
		AND a.ReportYear=@year
			  inner join t_RecordCase r on
		a.id=r.rf_idRegistersCase
			  inner join t_Case c on
		r.id=c.rf_idRecordCase						
		AND c.DateEnd>='20180101'
where a.rf_idFiles=@idFile AND NOT EXISTS(SELECT 1 FROM dbo.vw_sprMOMP_OMP v WHERE c.rf_idMO=v.CodeM AND c.rf_idV006=ISNULL(v.UslOk,c.rf_idV006) 
				AND c.DateEnd>=ISNULL(v.PlaceDateB,c.DateEnd) AND c.DateEnd<=ISNULL(v.PlaceDateE,c.DateEnd) AND c.DateEnd>=ISNULL(v.DeptDateB,c.DateEnd)
				AND c.DateEnd<=ISNULL(v.DeptDateE,c.DateEnd) AND ISNULL(c.rf_idDepartmentMO,0)=ISNULL(v.PODR,0))

go